<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"

        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.ZeeAnmolActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.anyGoodActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.isZeeAnmolActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.howDoActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.WhyIsActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.HowMuchActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.howCanActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.piyaAlbelaActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.tujhseHaiActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.ishqSubhanActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.manmohiniActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.wohApnaActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.subscriptionPage"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.FourthActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.ThirdActivity"
            android:exported="false" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.serialslivetvanmol1.zeeanmolhd2022.zeeanmol.HomeActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9074700583184711~8115804336" />
    </application>

</manifest>